<%= form_for(@user, :html => {:class => 'form-horizontal'}) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <legend>Create your username and password</legend>

    <div class="control-group">
      <%= f.label :username, :class => 'control-label' %>
      <div class='controls'><%= f.text_field :username, :placeholder => "Username" %></div>
    </div>
    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <div class ="controls"><%= f.password_field :password, :placeholder => "Password" %></div>
    </div>
    </fieldset>
    <br />
    <fieldset>
      <legend>And add more details</legend>
        <div class="control-group">
          <%= f.label :first_name, :class => 'control-label' %>
          <div class ="controls"><%= f.text_field :fname, :placeholder => "First name" %></div>
        </div>
        <div class="control-group">
          <%= f.label :last_name, :class => 'control-label' %>
          <div class ="controls"><%= f.text_field :lname, :placeholder => "Last name" %></div>
        </div>
        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class ="controls"><%= f.text_field :email, :placeholder => "Email" %></div>
        </div>
        <div class="control-group">
          <%= f.label :tel_number, :class => 'control-label' %>
          <div class ="controls"><%= f.text_field :tel, :placeholder => "telephone number" %></div>
        </div>
        <div class="control-group">
          <%= f.label :county, :class => 'control-label' %>
          <div class ="controls"><%= f.text_field :county %></div>
        </div>
        <div class="control-group">
          <label for="town" class="control-label">Town/region</label>
          <div class ="controls"><%= f.text_field :town %></div>
        </div>
        <div class="actions">
          <%= f.submit :class => "btn btn-info" %>
        </div>

    </fieldset>
    
<% end %>


